body{
    background-image: url("../IMAGES/apartment-3564955_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
       
   
      }


.Main {
    font-size: 80px;
    padding-left: 1%;
    font-style: oblique;
    color:  rgb(8, 73, 19);
    text-align:center;
    padding-top: 1px;
    font-weight: bolder;
}


.footer{
    margin-top: 10%;
    color: rgb(8, 73, 19);
    text-align: center;
}

      
    

.column {    
    
   
   flex: 15%;
   padding: 5px;  
    
    
  }
  
  * {
    box-sizing: border-box;
  }

.row {
  display:flex;
}

.column img {
  width:15%;
  text-align: center;
  
}

.pclass{
  font-size: 30px;
  color: rgb(8, 73, 19);
  
}

section{
  padding: 0 100px;
  background: url(bg.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  

}
.box{
  position: relative;
  max-width: 500px;
  max-height: 300px;
  padding: 50px;
  background: rgba(255, 255, 255,.2);
  box-shadow:0 5px 15px rgba(0,0,0,.5) ;
}
.box h2 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  color: #89d14e;


}

.box p {
  margin: 0 px;
  padding: 0;
  font-size: 18px;



}