body{
    background-image: url("../IMAGES/liam-tart-city17-final-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
       
    position: fixed; 
    top: 0; 
    left: 0;     
    
    min-width: 100%;
    min-height: 100%;
      }


.Main {
    font-size: 90px;
    padding-left: 1%;
    font-style: oblique;
    color: rgb(242, 248, 234);
    text-align:center;
    padding-top: 1px;
    font-weight: bolder;
}


.footer{
    margin-top: 35%;
    color: ivory;
    text-align: center;
}

      
    

.column {    
    
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-content: center;  
    
    
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
